.header {
  background-image: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-secondary, 0.9)
    ),
    url(../img/house-4.webp);
  background-size: cover;
  background-position: center;
  grid-column: main-start / col-end 6;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr repeat(2, min-content);
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  padding: 8rem;
  padding-top: 4rem;

  @media only screen and (max-width: $bp-netbook) {
    padding: 6rem;
    padding-top: 3rem;
  }

  @media only screen and (max-width: $bp-big-tablet) {
    grid-column: 1 / -1;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;
    margin-top: 4rem;
  }

  &__paragraph {
    color: $color-grey-light-1;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1rem;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  &__service {
    max-width: 100%;
    max-height: 3rem;
    filter: brightness(0.7);
  }
}
