.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  &__btn {
    width: 65%;
    height: 2px;
    margin: 3rem auto;
    position: relative;
    border: none;
    border-radius: 0;
    display: block;
    color: $color-grey-light-1;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-grey-light-1;
      position: absolute;
    }

    &::after {
      bottom: -1rem;
      left: 0;
    }

    &::before {
      top: -1rem;
      left: 0;
    }
  }
}
